body {
  background: url('./images/new_new_background.png') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar-brand {
  font-family: allura,cursive;
  font-size: 24px;
  color: #000 !important;
}
.navbar-nav {
  color: #000 !important;
}
.navbar .navbar-nav .open .dropdown-menu > .active > a, .navbar .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  background-color:teal;
  background-image: none;
  background-repeat: no-repeat;
}
.navbar-default .navbar-nav > li > a {
  color: #000; 
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #000;
}
.test-nav-class {
  color: #000;
}
.white-bg{
  background:#ffffff;
}
.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  max-width: 100%;
}
.img.header-img {
  display: block;
  margin: auto;
  max-width: 100%;
}
.img-carousel {
  width: 100%;
  height: 100%;
}
.img-circle {
  max-width: 250px;
}
.media-object {
  width: 100px;
  height: 100px;
}
.map {
  width: 100%;
  height: 400px;
}
.div-table {
  margin: 0 auto;
  width: 800px;
}
.table-no-border1 {
  border: "0";
}
.header-container {
  margin-top: 15px;
}
