body {
  background: url('./images/background_image.png') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.navbar {
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar-brand {
  font-family: allura,cursive;
  font-size: 24px;
}
.white-bg{
  background:#ffffff;
}
.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  max-width: 100%;
}
.img.header-img {
  display: block;
  margin: auto;
  max-width: 100%;
}
